ai-n8n-workflow/customer-support-bot.json
{
  "name": "AI agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "Analyze the customer's question, provide a clear answer, and categorize the issue type. Respond in format: CATEGORY: [type] SENTIMENT: [tone] ANSWER: [text]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f80ce993-41e3-4ce8-a13e-93cbe70857c0",
      "name": "AI Agent",
      "notesInFlow": false,
      "notes": "You are a helpful customer support agent. Analyze the customer's question, provide a clear answer, and categorize the issue type (billing, technical, general inquiry).\"\n"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd10420b-ea2b-4f25-8637-970cd6ffdd15",
              "name": "answer",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"].split('ANSWER:')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "d312112a-1aaa-411d-ba71-d5dbe20326d5",
              "name": "=catagory",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"].split('ANSWER:')[1].trim() }}",
              "type": "string"
            },
            {
              "id": "823ffa66-a2d2-4205-9377-f6ef47578f96",
              "name": "=sentiment",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"].split('ANSWER:')[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "fb636770-3480-42e8-a955-cd7640b5ccf7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "517114c1-f83b-4d8b-9f33-1d5ec6bbf79b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-support",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8046b300-bdc7-4234-b1cf-e631b4488361",
      "name": "Webhook",
      "webhookId": "ce731fbb-9562-47c0-a7dc-718d6ab8bb8b"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.2-3b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "22a2d3cc-6e14-43eb-8746-f7e27e4100bc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "M4L3QnDbspDvapzE",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f854ffd2-3727-467b-9bc7-e724b4fdc093",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "373cb47ed7836159d02d63d2602b617a50876d0cc2a846f7a50bdfac90dad9b1"
  },
  "id": "qKS5cNJ5cwPYHcMe",
  "tags": []
}